body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/044/211/original/HW1.jpg?1661154104);
  background-size: 100%;
}

h1 {
  font-size: 80px;
  text-align: center;
  margin: 20px;
  color: #878c9a;
}
h2 {
  font-size: 55px;
  font-weight: 800;
  font-family: "Roboto Slab", serif;
}

.card {
  font-family: "Handlee", cursive;
  margin-top: 80px;
  background-color: rgb(243, 237, 229);
  margin-bottom: 200px;
}
.search {
  margin: 20px 40px;
  font-family: "Roboto Slab", serif;
}
.btn {
  color: rgb(106, 30, 221);
  background: rgb(199, 81, 228);

  padding-left: 50px;
  font-weight: 900;
}

.temperature {
  text-align: center;
  margin-top: 40px;
}
.icon {
  font-size: 30px;
}
.first {
  font-size: 30px;
  font-weight: 800;
}
.sun {
  color: rgb(223, 141, 228);
  font-size: 110px;
}
.day {
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
}
.weather {
  text-align: center;
  color: rgb(241, 200, 240);
  font-size: 50px;
}
.hot {
  text-align: center;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}
#geo-item {
  font-size: 30px;
  color: rgb(106, 30, 221);
}
#geo-item:hover {
  color: rgb(199, 81, 228);
}
